---
import Layout from "../layout/layout.astro";
---

<Layout title="404">
    <section class="grid justify-center items-center h-full">
        <div class="text-center">
            <h1 class="text-9xl text-gray-900">404</h1>
            <p class="italic pt-2 text-xl">Page not found</p>
        </div>
    </section>
</Layout>