---
import Navbar from "../components/navbar.astro";
import { ViewTransitions } from "astro:transitions";
const { title = "pokemon" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-200">
    <Navbar />
    <main class="w-[80vw] mx-auto my-8">
      <slot />
    </main>
  </body>
</html>
